<!-- Page Content -->
    <div class="login"><!-- Banner Starts Here -->
    <div class="banner header-text">
        <div class="owl-banner owl-carousel">
          <div class="banner-item-01">
            <div class="text-content">
              
              <h2>एक हाथ <em class="redcolor">Local</em> दुकानो के साथ</h2>
            </div>
          </div>
          <div class="banner-item-02">
            <div class="text-content">
              
              <h2>एक हाथ <em class="redcolor">Local</em> दुकानो के साथ</h2>
            </div>
          </div>
          <div class="banner-item-03">
            <div class="text-content">
              
              <h2>एक हाथ <em class="redcolor">Local</em> दुकानो के साथ</h2>
            </div>
          </div>
        </div>
      </div>
      <section class="servicescon">
        <h1 class="hprimarycenter">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="assets\images\tabsmallbusiness.jpg" alt="">
                <h2 class="hsecond">SMALL BUSINESS</h2>
                <p class="textc">Register your small business with SABKI DUKAN to give it a peak rise. </p>
            </div>
            <div class="box">
                <img src="assets\images\tablocalshop.jpg" alt="">
                <h2 class="hsecond">LOCAL SHOPS</h2>
                <p class="textc">SABKI DUKAN is a platform for all local shopkeepers to give their business a boost.</p>
            </div>
            <div class="box">
                <img src="assets\images\tabsupportwomen.jpg" alt="">
                <h2 class="hsecond">SUPPORT TO WOMEN</h2>
                <p class="textc">"Ab hum bhi piche nhi rhenge"    --proud women working with SABKI DUKAN</p>
            </div>
        </div>
    </section>
    <div class="testimonials">
      <div class="testimonial-inner">
        <h1>What people say about us?</h1>
        <div class="border"></div>
        
        <div class="row">
          <div class="col">
            <div class="testimonial">
              <img src="https://images.pexels.com/photos/3211476/pexels-photo-3211476.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
              <div class="name">Karandeep Singh</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p>Sabki Dukan has bought my business to next level.Earlier my carpentry shop was only limited to some customers but now coustmers from all over my city contact me. This website has helped my business to grow and has given me many opportunities.It is a perfect platform for common masses as well as entrepreneur
  .</p>
            </div>
          </div>
          
          <div class="col">
            <div class="testimonial">
              <img src="https://images.pexels.com/photos/3585325/pexels-photo-3585325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
              <div class="name">Disha Sharma</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </div>
              <p>LFrom a small room in my house to a shop, my business grew just because of Sabki Dukan,now I feel proud to be a  women entrepreneur at Sabki Dukan.
  .</p>
            </div>
          </div>
          
          <div class="col">
            <div class="testimonial">
              <img src="https://images.pexels.com/photos/2690323/pexels-photo-2690323.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="">
              <div class="name">Madhuban Creations</div>
              <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
              <p>When i started my small craft business, I never thought i would grow to this level and this was only possible because of Sabki Dukan. It is a great platform for all small business holders and i suggest each and every person to be a part of this community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
