<!-- Page Content -->
  <div class="page-heading about-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-content">
            <h4>about us</h4>
            <h2>Sabki Dukan</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="best-features about-features">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Background</h2>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-image">
            <img src="assets/images/feature-image.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="left-content">
            <h4>Who we are &amp; What we do?</h4>
            <p>We are a group of tech enthusiasts working for the welfare of common public.
              We aim to promote our local Indian shops so that they can showcase their skills and work.
              Our website provides best employment opportunities.We have a special section to support women and help them grow their work.</p>
            <ul class="social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="team-members">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Our Team Members</h2>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <div class="thumb-container">
              <img src="assets/images/team_01.jpg" alt="">
              <div class="hover-effect">
                <div class="hover-content">
                  <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="down-content">
              <h4>Navneet</h4>

              <p></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <div class="thumb-container">
              <img src="assets/images/team_02.jpg" alt="">
              <div class="hover-effect">
                <div class="hover-content">
                  <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="down-content">
              <h4>Chirag Verma</h4>

              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <div class="thumb-container">
              <img src="assets/images/team_03.jpg" alt="">
              <div class="hover-effect">
                <div class="hover-content">
                  <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                   
                  </ul>
                </div>
              </div>
            </div>
            <div class="down-content">
              <h4>Riya Kochhar</h4>

              
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <div class="thumb-container">
              <img src="assets/images/team_04.jpg" alt="">
              <div class="hover-effect">
                <div class="hover-content">
                  <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="down-content">
              <h4>Karandeep Singh</h4>

             
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="team-member">
            <div class="thumb-container">
              <img src="assets/images/team_05.jpg" alt="">
              <div class="hover-effect">
                <div class="hover-content">
                  <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
            <div class="down-content">
              <h4>Rupinder Kaur</h4>

              
            </div>
          </div>
        </div>




        <div class="services">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="service-item">
                  <div class="icon">
                    <i class="fa fa-gear"></i>
                  </div>
                  <div class="down-content">
                    <h4>Product Management</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia
                      quaerat.</p>
                    <a href="#" class="filled-button">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-item">
                  <div class="icon">
                    <i class="fa fa-gear"></i>
                  </div>
                  <div class="down-content">
                    <h4>Customer Relations</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia
                      quaerat.</p>
                    <a href="#" class="filled-button">Details</a>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="service-item">
                  <div class="icon">
                    <i class="fa fa-gear"></i>
                  </div>
                  <div class="down-content">
                    <h4>Global Collection</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur an adipisicing elit. Itaque, corporis nulla at quia
                      quaerat.</p>
                    <a href="#" class="filled-button">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
