<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="/home">Home</a></li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- about -->
<div class="about">
    <div class="container">
        <h3 class="w3_agile_header">Welcome to your advertisements</h3>
    </div>
</div>
    <div class="container">
        <h2>advertisements</h2><br/>
        <div class="col-md-4 top_brand_left">
            <div class="hover14 column">
                <div class="agile_top_brand_left_grid">
                    <div class="agile_top_brand_left_grid1">
                        <figure>
                            <div class="snipcart-item block" >
                                <div class = "snipcart-thumb">
                                    <div class="snipcart-thumb" >
                                        <select [(ngModel)]="sex" name="cbx1">
                                            <option value="">Select Gender</option>
                                            <option value="Gentleman">Gentleman</option>
                                            <option value="Lady">Lady</option>
                                        </select><br/><br/>
                                        <textarea name="" id="" cols="30" rows="10" type="text" placeholder="Write Description" [(ngModel)]="advt"></textarea>
                                        
                                        <input type="submit" name="submit" (click)="onsubmit()">
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    

<!-- <div class="login">
    <div class="container">
        <h2><button class = "btn btn-danger" type="button" name="Clickme" (click)="final()">Click Here for surprise</button></h2>
        <img src={{image}}>
        <br/> 
        {{myarray}}
    </div>
</div> -->

